
.sidebar {
    width: 250px;
    height: 100%;
    background-color: #2c3e50; 
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s ease; 
    z-index: 100;
    overflow-y: auto;
    padding-top: 20px;
}

.sidebar .menu-item {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.sidebar .menu-item:hover {
    background-color: #34495e; 
    transform: scale(1.05);
}

.sidebar .menu-item i {
    margin-right: 10px;
    transition: transform 0.3s ease;
}

/* Icono con hover */
.sidebar .menu-item:hover i {
    transform: rotate(15deg); 
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px; 
    }

    .sidebar .menu-item {
        font-size: 14px; 
    }
}


@media (max-width: 480px) {
    .sidebar {
        width: 0; 
    }

    .sidebar.show {
        width: 250px;
    }

    .sidebar .menu-item {
        padding: 8px 16px; 
    }
}
