.main_products_container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.products_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    height: auto;
    overflow: auto;
    padding: 20px; 
    box-sizing: border-box;
}
