:root {
    --primary-color: #623CEA;
    --secondary-color: #54426B;
    --ligth-color: #f5f5f5;
    --background-color: #e9f1f7;
    --background-color-secondary: #DBd5B2;
    --text-color: #333;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr;
    height: 100%;
    width: 100vw;
    padding-right: 0.5rem;
    background-color: var(--background-color);
    transition: grid-template-columns 0.3s ease;
}

.grid_container.no-aside {
    grid-template-columns: 1fr;
}

nav {
    background-color: var(--secondary-color);
    padding: 10px;
    grid-column: 1 / 3;
    grid-row: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
    gap: 0.5rem;
    text-transform: uppercase;
    margin-bottom: 0.2rem;
}

nav a {
    color: var(--ligth-color);
}

aside {
    background-color: var(--primary-color);
    padding: 10px;
    grid-column: 1;
    grid-row: 2;
    position: relative;
    top: 0;
    left: -100%;
    width: 280px;
    height: 100%;
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.6s ease;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
    color: var(--ligth-color);
}

.opened {
    left: 0;
}

aside h2 {
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 1.5rem;
    margin: 0;
    padding: 10px 0;
    transition: all 0.3s ease;
}

aside h2:hover {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
    color: #f0f0f0;
}

main {
    background-color: var(--background-color);
    padding: 10px;
    grid-column: 2 / 3;
    grid-row: 2;
    transition: grid-column 0.3s ease;
}

.btnAdd {
    background-color: var(--ligth-color);
    color: var(--text-color);
    border: 1px solid var(--primary-color);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.btnAdd:hover {
    background-color: var(--secondary-color);
    color: var(--ligth-color);
    border-color: var(--secondary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.card {
    width: 250px;
    margin: 0.2rem 0;
    border: 1px solid #33333362;
    padding: 0.5rem;
}


/* Hamburguesa absoluta por que el sidebar es relativo, y queremos que este siempre pegado al mismo. en caso de q este abierto, lo incluimos dentro del sidebar */
.hamburger {
    position: absolute;
    top: 10px;
    right: -110px;
    background-color: var(--ligth-color);
    color: var(--text-color);
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 20;
    transition: right 0.3s ease;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hamburger:hover {
    background-color: var(--secondary-color);
    color: var(--ligth-color);
}

aside.opened .hamburger {
    right: 10px;
}


/* Cuando el aside no este visible, le damos a main toda la pantalla. colocar padding para que pueda verse la burguer*/
aside:not(.opened) + main {
    grid-column: 1 / 3; 
    padding: 0 6rem;
    transition: grid-column 1s ease, padding 1s ease;
}

